<form (submit)="onSubmit()" #countryForm="ngForm">
    <mat-form-field>
        <input matInput placeholder="Name" name="name" required [(ngModel)]="countryData.name">
    </mat-form-field>

    <ng-container *ngIf="isEditMode; else elseTemplate">
        <button mat-button color="primary">Update</button>
        <a mat-button color="warn" (click)="cancelEdit()">Cancel</a>
    </ng-container>
    <ng-template #elseTemplate>
        <button mat-button color="primary">Add</button>
    </ng-template>
</form>

<div class="table-wrapper">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="name" matSortDisableClear
        matSortDirection="desc">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> #Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Country Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <a href="javascript:void(0)" (click)="editCountry(element)">Edit</a> |
                <a href="javascript:void(0)" (click)="deleteCountry(element.id)">Delete</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'editable-row': countryData.id === row.id}"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>